<div class="container">
  <br>
  <h2>Contact Us</h2>
  <br>
    <div class="row d-flex justify-content-around">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card bg-light" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title">Stewart Philips</h5>
            <h6 class="card-subtitle">  Project Coordinator <br> 01475 553385</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card bg-light" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title">Kieran Wild</h5>
            <h6 class="card-subtitle">  Active Travel Officer <br> 01475 553386</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card bg-light" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title">Ian Crighton</h5>
            <h6 class="card-subtitle">  Bicycle Mechanic <br> 01475 553387</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card bg-light" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title">Scott Deveney</h5>
            <h6 class="card-subtitle">  Admin Assistant <br> 01475 553384</h6>
          </div>
        </div>
      </div>
    </div>
  <br>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      <p>Inverclyde Community Development Trust<br>
         Port Glasgow Business & Training Centre<br>
         46 – 50 Muirshiel Road<br>
         Port Glasgow<br>
         PA14 5XS</p>
    </div>
  </div>
  <h2>Email Us</h2>
  <%= render 'form', contact_submission: @contact_submission %>
</div>
