<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <br>
      <h2>About Us</h2>
      <br>
      <p>We are an active travel hub within Inverclyde, supporting and encouraging local people to make more journeys by bike or by foot.   Community Tracks Inverclyde is a project hosted by Inverclyde Community Development Trust jointly funded by The Climate Challenge Fund, part of Keep Scotland Beautiful, and by Smarter Places Smarter Choices in association with Paths for All and Inverclyde Council.</p>
      <p>Broadly, the project aims are to:</p>
      <ul>
        <li>Reduce waste/Reduce CO2 emission&#39;s</li>
        <li>Develop skills</li>
        <li>Promote social inclusion</li>
        <li>Enhance Employability through developing skills</li>
      </ul>
      <br>
      <p>These objectives will be achieved by:</p>
      <ul  >
        <li>Recycling bikes from landfill into the community</li>
        <li>Teaching cycle maintenance classes including educational and industry recognised qualifications</li>
        <li>Fix-your-own-bike workshops</li>
        <li>Cycle training and riding confidence sessions</li>
        <li>Cycle tours and guided rides within the local area and community</li>
      </ul>
      <br>
      <p><a href="https://www.dropbox.com/sh/ik9w6yaz0lywj7q/AAD73b9vQgfG7iLDgTdaVdlga?dl=0" target="_blank">Please click here for photos, logos and a summary of the project to download</a></p>
      <br>
      <h3 >  <a href="https://s3.eu-west-2.amazonaws.com/comtracks/Privacy+and+cookie+policy+template.pdf">Privacy and cookie policy</a></h3>
    </div>
    <div class="col-lg-6 col-md-12">
      <br/>
      <%= image_tag("/images/about.jpg") %>
    </div>

  </div>
</div>
