<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <br>
      <h2>Bike Workshop</h2>
      <p>We run a bike recycling workshop within an facility owned by Inverclyde Community Development Trust at Port Glasgow Business and Training Centre. Coordinated by the dedicated staff and a group of enthusiastic volunteers, CTI encourages bike use among Inverclyde residents while offering a range of social inclusion and skills development opportunities to key groups and the wider community, centred around bike recycling and refurbishment.</p>
      <p>The project sources its bike stock from a variety of locations ranging from Inverclyde Council refuse sites, donations from businesses, Police Scotland unclaimed property and of course are always happy to accept donations from the general public.  Our aim is to prevent as many bikes as possible from entering landfill, making them safe and available for community use.</p>
      <p>The workshop delivers activities aimed at developing interest in cycling; enabling people to participate in low-carbon travel and ultimately reduces local carbon emissions in Inverclyde. These activities and services are free to all but target more disadvantaged groups aiming to removing barriers which currently prevent active travel options being considered.</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <br/>
      <%= image_tag("/images/bikes.jpg", class: "img_fluid") %>
    </div>
  </div>
</div>
